---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-keystone-openstack-org-v1beta1-keystoneapi
  failurePolicy: Fail
  name: mkeystoneapi-v1beta1.kb.io
  rules:
  - apiGroups:
    - keystone.openstack.org
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - keystoneapis
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-keystone-openstack-org-v1beta1-keystoneapi
  failurePolicy: Fail
  name: vkeystoneapi-v1beta1.kb.io
  rules:
  - apiGroups:
    - keystone.openstack.org
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - keystoneapis
  sideEffects: None
